Multivariatna analiza variance (MANOVA): Razširitev Anove, ki omogoča analizo več odvisnih spremenljivk hkrati. To bi lahko uporabili za preverjanje vpliva več dejavnikov na več odvisnih spremenljivk, na primer vpliva vključenosti v predšolsko izobraževanje, starosti otroka ob vključitvi, spola in socialno-ekonomskega statusa na doživljanje vrtca s strani staršev.

Analiza korelacije: Uporabite to, da preverite, ali obstajajo povezave med različnimi spremenljivkami, na primer med dolžino vključenosti v predšolsko izobraževanje in starostjo otroka ob vključitvi, med spolom otroka in doživljanjem vrtca s strani staršev.

Logistična regresija: Če vas zanima verjetnost, da se bo nek dogodek zgodil ali ne (npr. vključitev v predšolsko izobraževanje ali ne), lahko uporabite logistično regresijo. To bi lahko uporabili za razumevanje vpliva različnih dejavnikov na verjetnost vključitve v predšolsko izobraževanje.

Faktorska analiza: Za identifikacijo skupin povezanih spremenljivk lahko uporabite faktorsko analizo. To bi lahko uporabili za razumevanje skupnih vzorcev med različnimi vidiki doživljanja vrtca s strani staršev.

Strukturno enačbeno modeliranje (SEM): Če želite preučiti kompleksne vzorce med večimi spremenljivkami hkrati, bi lahko uporabili SEM. To bi lahko uporabili za razumevanje, kako se različni dejavniki medsebojno povezujejo in vplivajo na doživljanje vrtca s strani staršev.

In [1]:
import pandas as pd
df = pd.read_csv("precisceno_Ad1.csv")
df.head()

,spol,spol_starša,izob_matere,izob_očeta,število,izpolnjeval,vključen,status_matere,status_očeta,jezik,...,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19
0,moški,ženski,magisterij ali doktorat znanosti,magisterij ali doktorat znanosti,5.0,Prvorojenega/edinega otroka,da,zaposlena za polni delovni čas,zaposlen za polni delovni čas,Srb-hr,...,2.000000,2.000,2.000000,2.0,2.000,2.00,0.50,1.500000,2.0,2.000000
1,moški,ženski,srednja šola,srednja šola,4.0,Drugorojenega otroka,da,zaposlena za polni delovni čas,zaposlen za polni delovni čas,Slovenščina,...,1.000000,1.000,1.000000,1.0,1.000,1.00,1.00,1.000000,1.0,1.000000
2,moški,ženski,zaključen študij (fakulteta),zaključen študij (fakulteta),3.0,Prvorojenega/edinega otroka,da,zaposlena za polni delovni čas,zaposlen za polni delovni čas,Slovenščina,...,2.000000,1.750,1.857143,2.0,1.875,2.00,1.25,1.666667,2.0,1.833333
3,moški,ženski,zaključen študij (fakulteta),srednja šola,4.0,Drugorojenega otroka,da,zaposlena za polni delovni čas,zaposlen za polni delovni čas,Slovenščina,...,1.142857,0.250,0.142857,0.4,1.000,1.00,0.50,1.000000,2.0,1.583333
4,ženski,ženski,zaključen študij (fakulteta),srednja šola,4.0,Drugorojenega otroka,da,zaposlena za polni delovni čas,zaposlen za polni delovni čas,Slovenščina,...,1.928571,1.125,1.428571,1.0,1.625,1.75,1.00,0.166667,1.0,0.833333

In [2]:
column_names = df.columns.tolist()

print(column_names)

unique_values = df['izpolnjeval'].unique()

print("Unique values in 'Column1':", unique_values)

['spol', 'spol_starša', 'izob_matere', 'izob_očeta', 'število', 'izpolnjeval', 'vključen', 'status_matere', 'status_očeta', 'jezik', 'OPP', 'drugo', 'age_in_months', 'starost_vkljucitev', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19']
Unique values in 'Column1': ['Prvorojenega/edinega otroka' 'Drugorojenega otroka'
 'Tretje ali kasneje rojenega otroka' 'Drugo:']

In [3]:
count_drugo = df['izpolnjeval'].value_counts()['Drugo:']
print(count_drugo)

df = df[df['izpolnjeval'] != 'Drugo:']

status_mapping_izp = {
    'Prvorojenega/edinega otroka': 0,
    'Drugorojenega otroka': 1,
    'Tretje ali kasneje rojenega otroka': 2,
}

# Map the values in the 'status_očeta' column using the defined dictionary
df['izpolnjeval'] = df['izpolnjeval'].map(status_mapping_izp)

5

In [4]:

from sklearn.preprocessing import LabelEncoder
# Fill NaN values with 'ne' in the 'OPP' column
df['OPP'].fillna('ne', inplace=True)

# Define a LabelEncoder
label_encoder = LabelEncoder()

# Encode the values in the 'OPP' column
df['OPP'] = label_encoder.fit_transform(df['OPP'])

# Now 'ne' is encoded as 0 and 'ja' is encoded as 1 in the 'OPP' column

In [5]:
df['jezik'] = label_encoder.fit_transform(df['jezik'])

label_mapping_jezik = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))

print("Mapping of encoded values to original labels for 'jezik' column:")
print(label_mapping_jezik)

Mapping of encoded values to original labels for 'jezik' column:
{'Albanščina': 0, 'Bolgarski': 1, 'Bosanščina': 2, 'FRANCOSKI': 3, 'ITALIJANŠČINA': 4, 'Makedonščina': 5, 'Romski': 6, 'Slovenščina': 7, 'Srb-hr': 8, 'Ukr-Rus': 9}

In [6]:
df = df[df['status_očeta'] != '5.0'] #cuden status
df = df[df['izob_očeta'] != '5.0'] #cuden status

In [7]:
#Naredimo še enako transformacijo za statusa v kategorijo 0,1,2,3

status_mapping = {
    'zaposlena za polni delovni čas': 3,
    'zaposlena za krajši delovni čas': 2,
    'ni bila zaposlena': 0,
    'ni bila zaposlena, vendar je iskala zaposlitev': 1,
    #
    'ni bil zaposlen': 0,
    'ni bil zaposlen, vendar je iskal zaposlitev': 1,
    'zaposlen za krajši delovni čas': 2,
    'zaposlen za polni delovni čas': 3,
}

# Map the values in the 'status_očeta' column using the defined dictionary
df['status_očeta'] = df['status_očeta'].map(status_mapping)
df['status_matere'] = df['status_matere'].map(status_mapping)

stevilo = st. druzinskih clanov

izpolnjeval = kateri otrok po vrsti (prvorojenec, ...)

vkljucen = vklj. v vrtec... kasneje desno stolpec tudi v mesecih koliko casa

status = brezposelen....

OPP = posebne potrebe

In [8]:
df['izob_matere'].unique()

array(['magisterij ali doktorat znanosti', 'srednja šola',
       'zaključen študij (fakulteta)', 'osnovna šola ali manj'],
      dtype=object)

In [9]:
df['izob_očeta'].unique()

array(['magisterij ali doktorat znanosti', 'srednja šola',
       'zaključen študij (fakulteta)', 'osnovna šola ali manj'],
      dtype=object)

In [10]:
edu_mapping = {
    'osnovna šola ali manj': 0,
    'srednja šola': 1,
    'zaključen študij (fakulteta)': 2,
    'magisterij ali doktorat znanosti': 3
}

# Map the values in the 'status_očeta' column using the defined dictionary
df['izob_matere'] = df['izob_matere'].map(edu_mapping)
df['izob_očeta'] = df['izob_očeta'].map(edu_mapping)

In [11]:
def label_encode_columns(df, columns):
    label_encoder = LabelEncoder()
    for col in columns:
        df[col] = label_encoder.fit_transform(df[col])
    return df

# Assuming df is your DataFrame containing columns 'spol' and 'spol_starša'
columns_to_encode = ['spol', 'spol_starša']
df = label_encode_columns(df, columns_to_encode)

In [12]:
df.to_csv('precisceno_Ad1_za_analizo.csv', index=False)